.chart-section {
  width: 320px; 
  height: 370px; 
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (min-width: 1500px) {
  .chart-section {
    width: 400px; 
    height: 370px; 
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}
@media (min-width: 1700px) {
  .chart-section {
    width: 480px; 
    height: 370px; 
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}

@media (min-width: 1800px) {
  .chart-section {
    width: 550px; 
    height: 370px; 
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}
