.product-flex {
  display: grid;
  grid-template-columns: repeat(3,310px);
  gap: 10px;
}

@media (max-width: 1200px) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(2,400px);
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(1,700px);
  }
}

