.orders-section {
  padding: 25px;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.order-details {
  margin-top: 10px;

}
@media (min-width: 1800px) {

  .orders-section {
    width:1100px;
  }
  
}
