.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.btn-services,
.btn-filter,
.btn-grid,
.btn-list,
.btn-add-product {
  margin-right: 15px;
  border: none !important;

}

.btn-services,
.btn-filter,
.btn-grid,
.btn-list {
  color: gray !important;
  background-color: transparent !important;
}


.btn-add-product {
  padding: 10px 30px !important;
  border-radius: 50px !important;
  color: blue !important;
}

.icon-plus {
  font-size: 15px !important;
  color: blue;
}

.icon {
  font-size: 10px !important;
}

.btn-add-product:hover {
  background-color: #ffe0b5 !important;
  border: none !important;
}

.spanIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  padding: 2px 5px;
}





















